<table class="attr-values-table">
#foreach( $av in $allAV )
    <tr>
        <td>
            <a class="need-confirm" href="$contextPath/$deleteStaticAttrPicture/?objtype=${objectTypeId}&attr=${attributeId}&order=${av.getOrderNumber()}">
                <img class="icon-img" src="$contextPath/img/delete.png"/>
            </a>
            <a href="$contextPath/$moveUpStaticAttrValue/?objtype=${objectTypeId}&attr=${attributeId}&order=${av.getOrderNumber()}">
                <img class="icon-img" src="$contextPath/img/up.png"/>
            </a>
            <a href="$contextPath/$moveDownStaticAttrValue/?objtype=${objectTypeId}&attr=${attributeId}&order=${av.getOrderNumber()}">
                <img class="icon-img" src="$contextPath/img/down.png"/>
            </a>
            <img class="picture-preview" src="$contextPath/$uploadDir/$av.getAttrValue()"/>
        </td>
    </tr>
#end
</table>

Загрузить новую картинку
<form method="POST" enctype="multipart/form-data" action="$contextPath/$addStaticAttrPicture">
    <input type="hidden" name="objtype" value="$objectTypeId"/>
    <input type="hidden" name="attr" value="$attributeId"/>
    <input name="file" type="file" /><br/>
    <input type="submit"/>
</form>